{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<form action="{{ url_for('auth.authenticate') }}" method="POST">
    <h1 class="w-25 mx-auto"> Iniciar sesión</h1>
    <div class="form-outline mb-4 w-25 mx-auto">
        <label class="form-label">Correo electronico</label>
        <input type="email" class="form-control" name="email" placeholder="Ingresa un correo valido" required />
    </div>
    <div class="form-outline mb-4 w-25 mx-auto">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="password" placeholder="Ingresa una contraseña" required />
    </div>
    <div class="w-25 mx-auto">
        <input class="btn btn-primary w-100" type="submit" value="Login" />
    </div>
</form>
{% endblock %}