{% extends "layout.html" %}
{% block title %}Consultas Disciplinas{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Suscripciones</h1>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre Socio</th>
                <th>Apellido Socio</th>
                <th>Fecha Inscripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for suscription in paginator.items %}
            <tr>
                <td>{{ suscription.member_first_name }}</td>
                <td>{{ suscription.member_last_name }}</td>
                <td>{{ suscription.date_from }} </td>
                <td>
                    <div class="btn-group mb-3">
                        <a class="btn btn-sm btn-warning rounded-pill d-inline" 
                            href="#" 
                            role="button">
                            X
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include('partials/paginator.html') %}
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <a class="btn btn-secondary" href="{{ url_for('suscription.find_member', discipline_id=discipline_id ) }} ">Nueva Suscripcion</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <a href="{{ url_for('discipline.index') }}"> Volver </a>
        </div>
    </div>
</div>




{% endblock %}