{% extends "layout.html" %}
{% block title %}Consultas Disciplinas{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Suscripciones</h1>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre Socio</th>
                <th>Apellido Socio</th>
                <th>Fecha Inscripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for suscription in paginator.items %}
            <tr>
                <td>{{ suscription.member.first_name }}</td>
                <td>{{ suscription.member.last_name }}</td>
                <td>{{ suscription.date_from | format_datetime }} </td>
                <td>
                    <div class="btn-group mb-3">
                        <button class="btn btn-sm btn-success rounded-pill d-inline" type="button"
                            data-bs-toggle="modal" data-bs-target="#exampleModal{{ suscription.id }}">
                            Baja
                        </button>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include('partials/paginator.html') %}
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            {% if has_quota %}
              <a class="btn btn-secondary"
                 href="{{ url_for('suscription.find_member', discipline_id=discipline_id ) }} ">Nueva Suscripcion</a>
            {% else %}
                <span class="btn btn-secondary">Cupo Lleno</span>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <a href="{{ url_for('discipline.index') }}"> Volver </a>
        </div>
    </div>
</div>

<!-- Modal -->
{% for suscription in paginator.items %}
<div class="modal fade" id="exampleModal{{ suscription.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Baja</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Se va a dar de baja al socio
                de la disciplina. ¿Está Seguro?
            </div>
            <form action="{{url_for('suscription.leave', suscription_id=suscription.id, discipline_id=discipline_id)}}"
                method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Si</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}