{% extends "layout.html" %}
{% block title %}Consultas Disciplinas{% endblock %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cropperjs/dist/cropper.css') }}">
<style>
    .container {
      margin: 20px auto;
      max-width: 640px;
    }

    img {
      max-width: 100%;
    }

    .cropper-view-box,
    .cropper-face {
      border-radius: 50%;
    }
  </style>
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <img id="image" src="data:{{file_type}};base64, {{file}}">
    </div>
    <h3>Result</h3>
    <p>
        <form id="form_crop" method="POST" action="{{ url_for('license.upload_files')}}" enctype="{{file_type}}">
            <button type="button" id="button">Crop</button>
        </form>
    </p>
    <div id="result"></div>
</div>

<script src="{{ url_for('static', filename='cropperjs/dist/cropper.js')}}"></script>
<script>
    function getRoundedCanvas(sourceCanvas) {
      var canvas = document.createElement('canvas');
      var context = canvas.getContext('2d');
      var width = sourceCanvas.width;
      var height = sourceCanvas.height;

      canvas.width = 440;
      canvas.height = 440;
      context.imageSmoothingEnabled = true;
      context.drawImage(sourceCanvas, 0, 0, width, height);
      context.globalCompositeOperation = 'destination-in';
      context.beginPath();
      context.arc(width / 2, height / 2, Math.min(width, height) / 2, 0, 2 * Math.PI, true);
      context.fill();
      return canvas;
    }

    window.addEventListener('DOMContentLoaded', function () {
      var image = document.getElementById('image');
      var button = document.getElementById('button');
      var form = document.getElementById('form_crop');
      var result = document.getElementById('result');
      var croppable = false;
      var cropper = new Cropper(image, {
        aspectRatio: 1,
        viewMode: 1,
        cropBoxResizable: false,
        ready: function () {
          croppable = true;
        },
      });

      button.onclick = function () {
        // let btn = document.createElement("button");
        // btn.innerHTML = "Enviar";
        // btn.type = "submit";
        // btn.name = "formBtn";
        
        let inp = document.createElement("input")
        inp.type = "hidden"
        inp.name = "send_crop"


        var croppedCanvas;
        var roundedCanvas;
        var roundedImage;
        // var input_hidden = document.getElementById('send_crop');

        if (!croppable) {
          return;
        }

        // Crop
        croppedCanvas = cropper.getCroppedCanvas();

        // Round
        roundedCanvas = getRoundedCanvas(croppedCanvas);

        // Show
        roundedImage = document.createElement('img');
        roundedImage.src = roundedCanvas.toDataURL()
        result.innerHTML = '';
        result.appendChild(roundedImage);
        inp.value = roundedCanvas.toDataURL()
        console.log(inp.value.split([","])[1])
        form.appendChild(inp)
        form.submit()
        
        
      };
    });
  </script>
{% endblock %}