{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<style>
    .container {
      margin: 20px auto;
      max-width: 640px;
    }
    img {
      max-width: 100%;
    }
    .cropper-view-box,
    .cropper-face {
      border-radius: 50%;
    }
    /* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
    .cropper-view-box {
        outline: 0;
        box-shadow: 0 0 0 1px #39f;
    }
  </style>
{% endblock %}
{% block content %}
<div class="container">
            <img id="img" src="data:{{image_type}};base64, {{image}}">
</div>
{% endblock %}



