{% extends "layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Consultas</h1>

  <table class="index-table box">
    <thead>
      <tr>
        <th>#</th>
        <th>Autor</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for issue in issues %}
      <tr>
        <th>{{ issue.id }}</th>
        <th>{{ issue.user }}</th>
        <th>{{ issue.title }}</th>
        <th>{{ issue.description }}</th>
        <th>{{ issue.status }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}   