{% extends "layout.html" %}
{% block title %}Consultas Issues{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Consultas</h1>

  <table class="index-table box">
    <thead>
      <tr>
        <th>#</th>
        <th>Autor</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {% for issue in issues %}
      <tr>
        <th>{{ issue.id }}</th>
        <th>{{ issue.user }}</th>
        <th>{{ issue.title }}</th>
        <th>{{ issue.description }}</th>
        <th>{{ issue.status }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <form action="{{ url_for('issues_add')}}" method="post">
    <input type="text" name="id" placeholder="Ingrese el id">
    <input type="text" name="user" placeholder="Ingrese el autor">
    <input type="text" name="title" placeholder="Ingrese el título">
    <input type="text" name="description" placeholder="Ingrese la descripción">
    <input type="text" name="status" placeholder="Ingrese el estado">
    <button class="btn btn-primary">Enviar</button>
  </form>
  <a href="{{url_for('home')}}"> Volver al inicio </a>
{% endblock %}   