{% extends "layout.html" %}
{% block title %}Editar Usuario{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="container">
    <!-- <form action="{{ url_for('settings.index')}}" method="post">
        <h2>Cargar pagos</h2>
        {{ payment.hidden_tag() }}

        <div class="form-row align-items-center">
            <div class="col-auto">
                {{ payment.month.label(class="sr-only") }}
                {{ payment.month(class="form-control mb-2", placeholder="Mes") }}
            </div>
            <div class="col-auto">
                {{ payment.year.label(class="sr-only") }}
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">/</div>
                    </div>
                    {{ payment.year(class="form-control", placeholder="Año") }}
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">Cargar pagos</button>
            </div>
        </div>
    </form> -->


    <!-- <form class="form-inline" action="{{ url_for('settings.index')}}" method="post">
        <h2>Cargar pagos</h2>
        {{ payment.hidden_tag() }}
        {{ payment.month.label(class="sr-only") }}
        {{ payment.month(class="form-control mb-2 mr-sm-2", placeholder="Mes") }}
        {{ payment.year.label(class="sr-only") }}
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">/</div>
            </div>
            {{ payment.year(class="form-control", placeholder="Año") }}
        </div>
        <button type="submit" class="btn btn-primary mb-2">Cargar pagos</button>
    </form> -->

    <!--ANDA-->

    <!-- <form class="d-flex flex-row align-items-center flex-wrap" action="{{ url_for('settings.index')}}" method="post">
        <h2>Cargar pagos</h2>
        {{ payment.hidden_tag() }}
        {{ payment.month.label(class="sr-only") }}
        {{ payment.month(class="form-control mb-2 mr-sm-2", placeholder="Mes") }}
        {{ payment.year.label(class="sr-only") }}
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">/</div>
            </div>
            {{ payment.year(class="form-control", placeholder="Año") }}
        </div>
        <button type="submit" class="btn btn-primary mb-2">Cargar pagos</button>
    </form> -->

    <h2>Cargar pagos</h2>
    <form class="d-flex flex-row align-items-center flex-wrap" action="{{ url_for('settings.index')}}" method="post">
        {{ payment.hidden_tag() }}
        <div class="p-2">
            {{ payment.month(class="form-control mb-2 mr-sm-2", placeholder="Mes") }}
        </div>
        <div class="p-2">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">/</div>
                </div>
                {{ payment.year(class="form-control", placeholder="Año") }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Cargar pagos</button>
    </form>


    <form action="{{ url_for('settings.index')}}" method="post">
        <h1>Configuraciones</h1>
        {{ form.hidden_tag() }}
        {{ form.items_per_page.label(class="form-label") }}
        {{ form.items_per_page(class="form-control") }}
        <div class="form-check">
            {{ form.enable_paytable.label(class="form-check-label") }}
            {{ form.enable_paytable(class="form-check-input ") }}
        </div>
        {{ form.contact_info.label(class="form-label") }}
        {{ form.contact_info(class="form-control") }}
        {{ form.text_header_payment.label(class="form-label") }}
        {{ form.text_header_payment(class="form-control") }}
        {{ form.amount_monthly.label(class="form-label") }}
        {{ form.amount_monthly(class="form-control") }}
        {{ form.percentage_surcharge.label(class="form-label") }}
        {{ form.percentage_surcharge(class="form-control") }}
        <input type="submit" value="Cambiar configuraciones" class="btn btn-success">
    </form>
</div>
{% endblock %}