<!DOCTYPE html>
<html lang="es">

<head>
  {% block head %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <title>{% block title %}{% endblock %}</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  {% endblock %}
</head>

<body>
  <div id="navbar">
    {% include('partials/_navbar.html') %}
    {% block navbar %}
    {% endblock %}
  </div>
  <div id="main">
    {% include('partials/messages.html')%}
    {% block content %}
    {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>

  <!--Scripts -->
  <!-- JavaScript - necesario para que funcionen las alertas -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>

  
  <script>
    //evita reenvíos de formularios
    if (window.history.replaceState) { // verificamos disponibilidad
    window.history.replaceState(null, null, window.location.href);
    }
  </script>
</body>

</html>