html{
    font-family:Arial, Helvetica, sans-serif;
}

.alto {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;

}

.containerLogo {
    height: 20vh;
}

.containerDos {
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.centrar {
    display: flex;
    width:50%;
    max-height: auto;
    align-items: center;
    justify-content:center;
    text-align: center;
}

.imagen {
    float: left;
    /*width: 10%;
    height: 10%;*/
    width: auto;
    max-height: 100%;
}

span{
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bolder;
    font-stretch: ultra-expanded;
    display: table;
    margin: 0 auto;
}

.imagenAjustada {
    /*width: 350px;
    height: 350px;*/
    height: 100%;
    width: auto;
}