<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Club Deportivo Villa Elisa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          {% if is_authenticated(session) %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('users.users_index')}}">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('members.index')}}">Socios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('discipline.index')}}">Disciplinas</a>
            </li>
            {% if is_administrator(session) %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('settings.index')}}">Configuraciones</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.logout')}}">Cerrar sesión</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('auth.login')}}">Iniciar sesión</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>