{% extends "layout.html" %}
{% block title %}Editar Usuario{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Crear Disciplina</h1>

<div class="container">

    <!-- <form action="{{ url_for('discipline.create')}}" method="post"> -->
    <form action="{{ url_for('discipline.create')}}" method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name }}
        {{ form.category.label }}
        {{ form.category }}
        {{ form.instructor_first_name.label }}
        {{ form.instructor_first_name }}
        {{ form.instructor_last_name.label }}
        {{ form.instructor_last_name }}
        {{ form.days_and_schedules.label }}
        {{ form.days_and_schedules }}
        {{ form.amount.label }}
        {{ form.amount }}
        {{ form.submit(class="btn btn-success") }}

    </form>
</div>
<a href="{{url_for('home')}}"> Volver al inicio </a>
{% if form.name.errors %}
    <ul class="errors">
    {% for error in form.name.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}