{% extends "layout.html" %}
{% block title %}Editar Usuario{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Crear Disciplina</h1>

<form action="{{ url_for('users.users_update', id=user.id)}}" method="post">
    <input type="email" name="email" placeholder="Ingrese el email" required="true" value="{{user.email}}">
    <input type="text" name="username" placeholder="Ingrese el usuario" required="true" value="{{user.username}}">
    <input type="text" name="first_name" placeholder="Ingrese el Nombre" required="true" value="{{user.first_name}}">
    <input type="text" name="last_name" placeholder="Ingrese el Apellido" required="true" value="{{user.last_name}}">
    <button class="btn btn-primary">Actualizar</button>
</form>
<a href="{{url_for('home')}}"> Volver al inicio </a>

{% endblock %}