{% extends "layout.html" %}
{% block title %}Consultas Disciplinas{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<h1>Consultas</h1>

<table class="index-table box">
    <thead>
        <tr>
            <th>#</th>
            <th>Disciplina</th>
            <th>Categoria</th>
            <th>Instructores</th>
            <th>Dias y Horarios</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        {% for discipline in disciplines %}
        <tr>
            <th>{{ discipline.id }}</th>
            <th>{{ discipline.name }}</th>
            <th>{{ discipline.category }}</th>
            <th>{{ "%s, %s!"|format(discipline.instructor_last_name, discipline.instructor_first_name) }} </th>
            <th>{{ discipline.days_and_schedules }}</th>
            <th>{{ discipline.amount }}</th>
            <th>{%if discipline.is_active -%} {{"Si"}}
                {%else -%}{{"No"}}
                {% endif %}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{{ url_for('discipline.discipline_add')}}" method="post">
{{ form.csrf_token }}
{{ form.name.label }}
{{ form.name }}
{{ form.category.label }}
{{ form.category }}
{{ form.instructor_first_name.label }}
{{ form.instructor_first_name }}
{{ form.instructor_last_name.label }}
{{ form.instructor_last_name }}
{{ form.days_and_schedules.label }}
{{ form.days_and_schedules }}
{{ form.amount.label }}
{{ form.amount }}
<input type="submit" value="Enviar" class="btn btn-success">

</form>
<a href="{{url_for('home')}}"> Volver al inicio </a>
{% endblock %}