{% extends "layout.html" %}
{% block title %}Consultas Disciplinas{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Disciplinas</h1>
        </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Categoria</th>
                <th>Instructores</th>
                <th>Dias y Horarios</th>
                <th>Monto</th>
                <th>Cupo</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for discipline in paginator.items %}
            <tr>
                <td>{{ discipline.name }}</td>
                <td>{{ discipline.category }}</td>
                <td>{{ discipline.instructor }} </td>
                <td>{{ discipline.days_and_schedules }}</td>
                <td>{{ discipline.amount }}</td>
                <td>{{ discipline.registration_quota }}</td>
                <td>
                    <div class="row">
                        {% if discipline.is_active %}
                        <span class="btn btn-sm btn-success rounded-pill d-inline">Activa</span>
                        {% else %}
                        <span class="btn btn-sm btn-dark rounded-pill d-inline">Inactiva</span>
                        {% endif %}
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Seleccionar
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{{ url_for('discipline.update', discipline_id=discipline.id) }}">Editar</a>
                            </li>
                            {% if discipline.membership.is_active %}
                                <li><a class="dropdown-item"
                                        href="{{ url_for('suscription.index', discipline_id=discipline.id, has_quota=discipline.has_quota) }} ">Inscripciones</a>
                                </li>
                            {% endif %}
                            <li>
                                {% if can_do_it(session, 'discipline_destroy') %}
                                <button class="dropdown-item" type="button" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal{{ discipline.id }}">
                                    Eliminar
                                </button>
                                {% endif %}

                            </li>

                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include('partials/paginator.html') %}
    {% if can_do_it(session, 'discipline_create') %}
        <div class="row">
            <div class="col-sm-12 d-flex justify-content-center">
                <a class="btn btn-secondary" href="{{url_for('discipline.create')}}">Alta de una disciplina</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <a href="{{url_for('home')}}"> Volver </a>
        </div>
    </div>
</div>


{% for discipline in paginator.items %}
<div class="modal fade" id="deleteModal{{ discipline.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Baja</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Se va a dar de baja la disciplina {{discipline.discipline_name}}.
                (Se daran de baja todas las inscripciones)
                ¿Está Seguro?
            </div>
            <form action="{{url_for('discipline.delete', discipline_id=discipline.id)}}" method="POST">

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Si</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}