{% extends "layout.html" %}
{% block title %}Modulo de Socios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}


<div class="container">
  <h3>Filtrar listado por: </h3>
  <form action="{{ url_for('members.filter_by')}}" method="post">
    <div class="form group">
      {{ filter_form.filter(class="") }}
      {{ filter_form.hidden_tag() }}
      <button class="btn btn btn-primary block" type="submit">Filtrar</button>  
    </div>
  </form>
  <form class="d-flex" action="{{ url_for('members.search_by_last_name')}}" method="post">
    <div class="form group">
        {{ search_form.last_name(class="form-control me-2", placeholder="Busqueda por Apellido")}}
        {{ search_form.hidden_tag() }}
        <button class="btn btn-outline-success" type="submit">Buscar por Apellido</button> 
    </div>
  </form>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Socios</h1>
        </div>
        <form name="export_form" method="post" action="{{ url_for('members.export_pdf')}}">
            <input name="filter_value" type="hidden"> 
            <div class="col-sm-12 d-flex justify-content-center">
                <input class="btn btn-sm btn-success rounded-pill d-inline" type="submit" onclick="return post_export()" value="Export">
            </div>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>N° de Socio</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo de Documento</th>
                <th>N° de Documento</th>
                <th>Género</th>
                <th>Está Activo?</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for member in paginator.items %}
            <tr>
                <td>{{ member.membership_number }}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.document_type }}</td>
                <td>{{ member.document_number}}</td>
                <td>{{ member.gender }}</td>
                <td>
                    <div class="row">
                        <form method="post" action="{{ url_for('members.change_activity',
                            member_id=member.membership_number)}}">
                            <div class="btn-group mb-3">  
                                {% if member.is_active %}
                                <input class="btn btn-sm btn-success rounded-pill d-inline" label="Presione para desactivar"
                                type="submit" value="Si">
                                {% else %}
                                <input class="btn btn-sm btn-dark rounded-pill d-inline" label="Presione para activar"
                                type="submit" value="No">
                                {% endif %}
                            </div>    
                        </form>
                    </div>
                </td>
                <td>
                    <div class="btn-group mb-3">
                        <a class="btn btn-sm btn-warning rounded-pill d-inline" href="{{ url_for('members.update',
                         member_id=member.membership_number)}}" role="button">
                            Editar
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include('partials/paginator.html') %}
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <a class="btn btn-secondary btn-lg" href="{{url_for('members.create')}}">Agregar Socio</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <a class="btn btn-primary btn-sm" href="{{url_for('home')}}"> Volver </a>
        </div>
    </div>
</div>
{% block javascripts %}
<script>
 function post_export() {
  /*console.log(document.getElementById("filter").value);  
  document.export_form.filter_value = "chochi";
  return true;*/
  alert("entra");
  return true;
}   
</script>
{% endblock javascripts %}    



{% endblock content %}
