{% extends "layout.html" %}
{% block title %}Agregar Roles{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Agregar roles</h1>

<table class="table table-hover table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>{{ user.id }}</th>
            <th>{{ user.email }}</th>
        {% for role in user.roles %}
        <tr>
            <th>{{ role.name }}</th>
        </tr>
        {% endfor %}
        </tr>
    </tbody>
</table>

<div class="container">
    <h2> Agregar nuevo rol </h2>
    <form action="{{ url_for('users.users_add_roles', id=user.id)}}" method="post">
        <div class="form group">
            {{add_roles_form.hidden_tag()}}
            {{add_roles_form.roles}}
        </div>
        <button class="btn btn-success">Agregar rol</button>
    </form>
</div>
<a href="{{url_for('home')}}"> Volver al inicio </a>

{% endblock %}