{% extends "layout.html" %}
{% block title %}Buscar un Usuario{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1> Asignar Usuario</h1>
<h3> Socio: {{member.first_name}} {{member.last_name}}, Nro de Socio: {{member.membership_number}}</h3>

<div class="container">
    <form class="d-flex" role="search" action="{{ url_for('users.link_member', id=member.membership_number)}}" method="post">
      {{ search_form.email(class="form-control me-2", placeholder="Ingrese el email del usuario que desea buscar")}}
      {{search_form.hidden_tag()}}
      <button class="btn btn-outline-success" type="submit">Buscar Usuario</button> 
    </form>
  </div>
{% if member.user_id %}
<h3> Usuario asignado: {{ user.username }}</h3>
{% endif %}

<a href="{{url_for('users.users_index')}}"> Volver </a>
{% endblock %}