{% extends "layout.html" %}
{% block title %}Estado societario{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}


<div class="container">
  <h4>Filtrar listado por: </h4>
  <form class="d-flex" action="{{ url_for('members.filter_by')}}" method="post">
    <div class="form group">
      {{ filter_form.filter(class="", id="filter_by_status") }}
      {{ filter_form.search(class="form-control me-2", placeholder="Busqueda por Apellido", id="filter_by_last_name") }}
      {{ filter_form.hidden_tag() }}
      <button class="btn btn btn-primary block" type="submit">Filtrar</button>  
    </div>
  </form>
    
        <div class="col-12 text-center">
            <h1>Socios administrados</h1>
        </div>  
   <table class="table table-hover">
        <thead>
            <tr>
                <th>N° de Socio</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Tipo de Documento</th>
                <th>N° de Documento</th>
                <th>Género</th>
                <th>Saldo</th>
                <th>Movimientos</th>
            </tr>
        </thead>
        <tbody>
            {% for member in paginator.items %}
            <tr>
                <td>{{ member.membership_number }}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.document_type }}</td>
                <td>{{ member.document_number}}</td>
                <td>{{ member.gender }}</td>
                <td>100</td>
                <td>Ver</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include('partials/paginator.html') %}
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <a class="btn btn-primary btn-sm" href="{{url_for('home')}}"> Volver </a>
        </div>
    </div>
</div> 

{% endblock content %}
