{% extends "users/roles.html" %}
{% block title %} Login {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<h1>Mi perfil</h1>

<table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>#ID </th>
        <th>Email</th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ user.id }}</th>
        <th>{{ user.email }}</th>
        <th>{{ user.username }}</th>
        <th>{{ user.first_name }}</th>
        <th>{{ user.last_name }}</th>
        
    </tr>
</tbody>
</table>

{%block roles%}
{{ super() }}
{% endblock %}           
{% endblock %}