{% extends "layout.html" %}
{% block title %}Editar Usuario{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>Editar Usuario</h1>

<form action="{{ url_for('users.users_update', id=user.id)}}" method="post">
    <div class="form-group" >
        {{ form.email.label }} {{ form.email(class_="form-control", value= user.email) }}
      </div>
      <div class="form-group">
        {{ form.username.label }} {{ form.username(class_="form-control", value= user.username) }}
      </div>
      <div class="form-group">
        {{ form.first_name.label }} {{ form.first_name(class_="form-control", value= user.first_name) }}
      </div>
      <div class="form-group">
        {{ form.last_name.label }} {{ form.last_name(class_="form-control", value= user.last_name) }}
      </div>
        {{ form.hidden_tag() }}
      <input type="submit" value="Actualizar Usuario" class="btn btn-success">
    </form>
<a href="{{url_for('home')}}"> Volver al inicio </a>


{% endblock %}