{% extends "users/roles.html" %}
{% block title %}Información de usuario{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<h1>Información de usuario</h1>

{% if user %}
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th>#ID </th>
      <th>Email</th>
      <th>Usuario</th>
      <th>Estado</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Operaciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>{{ user.id }}</th>
      <th>{{ user.email }}</th>
      <th>{{ user.username }}</th>
      <th>{%if user.is_active -%} {{"Activo"}}
        {%else -%}
        {{"Bloqueado"}}
        {% endif %}</th>
      <th>{{ user.first_name }}</th>
      <th>{{ user.last_name }}</th>
      <th>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Operaciones
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('users.users_update', id=user.id)}}">Editar Usuario</a></li>
            {% if not user.is_admin %}
            <li><a class="dropdown-item" href="{{url_for('users.users_block', id=user.id)}}">
                {%if user.blocked%}
                {{"Desbloquear"}}
                {% else %}
                {{"Bloquear"}}
                {% endif %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </th>
      </th>
    </tr>
  </tbody>
</table>

{% for role in user.roles %}
  {% if role.name == "Socio" %}
    {% if user.members %}
      <h1>Socios vinculados</h1>
      <table class="table table-hover table-sm">
        <thead>
          <tr>
            <th>Socios </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for member in user.members %}
            <th>{{member.document_type}}: {{ member.document_number }}</th>
            <th><form action="{{url_for('users.unlink_member', id=user.id)}}"  method="post">
              <div class="form-group">
                  {{ unlink_form.hidden_tag() }}
                  {{ unlink_form.member(type="hidden", value=member.membership_number) }}
              </div>  
              <button type="submit" class="btn btn-danger"> Desvincular Socio</button>  
              </form>
            </th>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    {% endif %}
  {% endif %}
{% endfor %}



{% else %}
<h2>Usuario Inexistente</h2>
{% endif %}
{%block roles%}
{{ super() }}
{% endblock %}

<!-- Button trigger modal -->
<button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Eliminar Usuario
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar Usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¡ATENCIÓN!
        Esta acción es irreversible.
        Está seguro que de desea eliminar el usuario {{user.email}}? 
      </div>
      <form action="{{url_for('users.delete', id=user.id)}}">

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Eliminar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<a href="{{url_for('users.users_index')}}"> Volver </a>
{% endblock %}