{% extends "layout.html" %}
{% block title %}Modulo de Socios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}


<div class="container">
    <h1 class="text-center">Movimientos y saldo de {{member.first_name}} {{member.last_name}}</h1>

<div class="row">
    {% if saldo<0 %}
        <h2 class="text-danger">Saldo: {{saldo|format_currency}}</h2>
    {% else %}
        <h2 class="text-success">Saldo: {{saldo|format_currency}}</h2>
    {% endif %}
    {% if paginator.items %}
        <h1>Movimientos Registrados</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Detalle</th>
                    <th>fecha</th>
                    <th>Tipo de movimiento</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for move in paginator.items %}
                    <tr>
                        <td>{{move.detail}}</td>
                        <td>{{move.date | format_datetime}}</td>
                        <td>{{move.movement_type}}</td>
                        <td>{{move.amount}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% include('partials/paginator.html') %}
    {%else%}
        <h2>no hay movimientos para mostrar</h2>
    {% endif %}

</div>


</div>

{% endblock content %}