#cover {
    height: 100vh;
    min-height: 300px;
    width: 100%;
    background-size: cover;
    background: no-repeat scroll center scroll;
    background-position: center;
    -webkit-background-size: cover;
}

.welcome {
    color: black;
    font-family: Helvetica;
}
.welcome h1 {
    font-size: 60px;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0; 
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.carousel-caption {
    bottom: 350px;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-caption h5 {
    font-size: 100px;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 20px;
    top: 2rm;
}

.about {
    height: 100vh;
    width: 100%;
    background: #333333;
    justify-content: center;
    align-items: center;
    background-size: cover;
    /* duplicado */
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.about img {
    height: auto;
    width: 400px;
    /* duplicado */
    flex: 2;
}
.about-text {
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    color:white;
    width: 550px;
    /* duplicado */
    flex: 1;
    min-width: 250px;
    padding: 25px;
}

.about h1 {
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: white;
}

.about h5{
    font-size: 25px;
    margin-bottom: 25px;
    letter-spacing: 15px;
    text-transform: capitalize;
    color: #e3a72f;
}

.about-text button {
    background: #e3a72f;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    font-weight: bold;
    padding: 13px 30px;
}

.disciplines-title h1 {
    margin-bottom: 15px;
    font-size: 60px;
    color: #333333;
    z-index: 1;
    text-align: center;
  }
  
.table {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    border-collapse: collapse;
    border-spacing: 3px;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 10px, 50px rgba(32, 32, 32, 10);
    overflow: hidden;
    background: white;
    text-align: left;
  }
  th {
    background: #e3a72f;
    font-size: 20px;
    padding: 15px;
  }
  td {
    font-size: 20px;
  }